<style>
body {
	    background-image: url(/img/wood3.png);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}
form {
	    background-color: #d2cdc7d6;
    padding: 30px;
    width: 40%;
    border-style: double;
    border-width: thick;
}
.confirmations {
		font-size:26px; 
	font-style:italic;

}
img {
	width: 100px;
    height: 84px;
}
</style>

<form method="post" action="confirm_page">
	<center>
	<p class="small_headings">Please confirm your order below:</p>
	
	<div class="confirmations">
		<%= p_delivery %><br>
	</div>
		<input type="radio" name="confirm_delivery" value="yes" required checked style="width:15px;height:15px;">
			<label for="yes">Yes</label>
		<input type="radio" name="confirm_delivery" value="no" style="width:15px;height:15px;">		
			<label for="no">No</label>

	<hr>

	<div class="confirmations">
			<% p_quantity.to_i %>
			<% if p_quantity.to_i > 1 %>
				<%= "#{p_quantity} Pizzas" %>
			<% else %>
				<%= "#{p_quantity} Pizza" %>
			<% end %><br>
	</div>
		<input type="radio" name="confirm_quantity" value="yes" required checked style="width:15px;height:15px;"> 
			<label for="yes">Yes</label>
		<input type="radio" name="confirm_quantity" value="no" style="width:15px;height:15px;">	
			<label for="no">No</label>

	<hr>
	
	<div class="confirmations">
			<%= p_size %><br>
	</div>
		<input type="radio" name="confirm_size" value="yes" required checked style="width:15px;height:15px;">
			<label for="yes">Yes</label>
		<input type="radio" name="confirm_size" value="no" style="width:15px;height:15px;">		
			<label for="no">No</label>
				
	<hr>
	
	<div class="confirmations">
			<%= p_crust %><br>
	</div>
		<input type="radio" name="confirm_crust" value="yes" required checked style="width:15px;height:15px;">
			<label for="yes">Yes</label>
		<input type="radio" name="confirm_crust" value="no" style="width:15px;height:15px;">		
			<label for="no">No</label>
				
	<hr>

	<div class="confirmations">
			<% toppings.each do |top| %>
				<%="#{top}" %><br>
					<% if top == "Pepperoni" %>
						<img src="/img/pepperoni.png" alt="Pepperoni Icon"><br>
					<% elsif top == "Sausage" %>
						<img src="/img/sausage.PNG" alt="Sausage Icon"><br>
					<% elsif top == "Ham" %>
						<img src="/img/ham.PNG" alt="Ham Icon"><br>
					<% elsif top == "Bacon" %>
						<img src="/img/bacon.PNG" alt="Bacon Icon"><br>
					<% elsif top == "Green Peppers" %>
						<img src="/img/peppers.PNG" alt="Green Peppers Icon"><br>
					<% elsif top == "Banana Peppers" %>
						<img src="/img/bpeppers.PNG" alt="Banana Peppers Icon"><br>
					<% elsif top == "Mushrooms" %>
						<img src="/img/mushrooms.PNG" alt="Mushrooms Icon"><br>
					<% elsif top == "Olives" %>
						<img src="/img/olives.PNG" alt="Olives Icon"><br>
					<% elsif top == "Onions" %>
						<img src="/img/onions.PNG" alt="Onions Icon"><br>
					<% elsif top == "Pineapple" %>
						<img src="/img/pineapple.PNG" alt="Pineapple Icon"><br>
					<% elsif top == "Extra Cheese" %>
						<img src="/img/cheese.PNG" alt="Cheese Icon"><br>
					<% else top == "None" %>
				<% end %>
			<%end%>


	</div>
		<input type="radio" name="confirm_topping" value="yes" required checked style="width:15px;height:15px;">
			<label for="yes">Yes</label>
		<input type="radio" name="confirm_topping" value="no" style="width:15px;height:15px;">		
			<label for="no">No</label>
			
	</center>
	<br>
	<button class="button">Submit</button>
</form>
<!-- ******can't keep the last comma from appearing on my toppings list -->