<link rel="stylesheet" type="text/css" href="/css/layout.css">

<form method="post" action="total_page">
	<%=total.values%>
	<hr>
	<%=p_quantity%>
	<hr>
	<%=p_size%>
	<hr>
	<%=p_crust%>
	<hr>
	<%=p_toppings%>
	<hr>
	<%=p_delivery%>
	<hr>
	<%=p_total%>
	
	
	
</form>